USE [master]
GO
/****** Object:  Database [Exam]    Script Date: 07.02.2022 13:10:08 ******/
CREATE DATABASE [Exam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Exam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Exam.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Exam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Exam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Exam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Exam]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 07.02.2022 13:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[ID] [int] NOT NULL,
	[VIN] [nvarchar](50) NULL,
	[Manufacturer] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[Year] [int] NULL,
	[Weight] [int] NULL,
	[Color] [int] NULL,
	[Engine_type] [int] NULL,
	[Type_of_drive] [nvarchar](50) NULL,
 CONSTRAINT [PK_Transportnoe_sredstvo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Licence]    Script Date: 07.02.2022 13:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Licence](
	[ID] [int] NOT NULL,
	[licence_date] [date] NULL,
	[expire_date] [date] NULL,
	[categories] [nvarchar](6) NULL,
	[licence_series] [nvarchar](4) NULL,
	[licence_number] [nvarchar](6) NULL,
	[Status] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voditeli]    Script Date: 07.02.2022 13:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voditeli](
	[ID] [int] NOT NULL,
	[Фамилия] [nvarchar](50) NULL,
	[Имя] [nvarchar](50) NULL,
	[Отчество] [nvarchar](50) NULL,
	[Серия_паспорта] [int] NULL,
	[Номер_паспорта] [int] NULL,
	[Адрес_регистрации] [nvarchar](max) NULL,
	[Адрес_проживания] [nvarchar](max) NULL,
	[Место_работы] [nvarchar](max) NULL,
	[Должность] [nvarchar](50) NULL,
	[Мобильный_телефон] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Фотография] [varbinary](max) NULL,
	[Замечания] [nvarchar](max) NULL,
 CONSTRAINT [PK_Voditeli] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Cars] ([ID], [VIN], [Manufacturer], [Model], [Year], [Weight], [Color], [Engine_type], [Type_of_drive]) VALUES (1, N'WBAKG7C54DJ746310', N'BMW', N'1-Series', 2018, 1523, 118, 3, N'front-wheel drive')
INSERT [dbo].[Cars] ([ID], [VIN], [Manufacturer], [Model], [Year], [Weight], [Color], [Engine_type], [Type_of_drive]) VALUES (2, N'JN1CV6APXCM884333', N'BMW', N'1-Series', 1994, 1750, 120, 2, N'front-wheel drive')
INSERT [dbo].[Cars] ([ID], [VIN], [Manufacturer], [Model], [Year], [Weight], [Color], [Engine_type], [Type_of_drive]) VALUES (3, N'2C4RDGCG2FR292116', N'BMW', N'2-Series', 1991, 1799, 127, 2, N'front-wheel drive')
GO
INSERT [dbo].[Licence] ([ID], [licence_date], [expire_date], [categories], [licence_series], [licence_number], [Status]) VALUES (1, CAST(N'2019-01-13' AS Date), CAST(N'2027-07-03' AS Date), N'B', N'5640', N'613073', N'Active    ')
INSERT [dbo].[Licence] ([ID], [licence_date], [expire_date], [categories], [licence_series], [licence_number], [Status]) VALUES (2, CAST(N'2018-08-02' AS Date), CAST(N'2023-09-21' AS Date), N'B', N'7465', N'904246', N'Active    ')
INSERT [dbo].[Licence] ([ID], [licence_date], [expire_date], [categories], [licence_series], [licence_number], [Status]) VALUES (3, CAST(N'2018-12-31' AS Date), CAST(N'2025-01-25' AS Date), N'B, A', N'6750', N'769897', N'Active    ')
GO
INSERT [dbo].[Voditeli] ([ID], [Фамилия], [Имя], [Отчество], [Серия_паспорта], [Номер_паспорта], [Адрес_регистрации], [Адрес_проживания], [Место_работы], [Должность], [Мобильный_телефон], [Email], [Фотография], [Замечания]) VALUES (1, N'Hopkins', N'Alonso', N'Caleb', 2303, 160716, N'452 Cobblestone St. 760832', N'', N'Global Gillette', N'Reporter', N'(970 383/8933', N'skippy@icloud.com', NULL, N'')
INSERT [dbo].[Voditeli] ([ID], [Фамилия], [Имя], [Отчество], [Серия_паспорта], [Номер_паспорта], [Адрес_регистрации], [Адрес_проживания], [Место_работы], [Должность], [Мобильный_телефон], [Email], [Фотография], [Замечания]) VALUES (2, N'Sellers', N'Kaydence', N'Susannah', 5563, 160745, N'Hyattsville, MD 20782 807042', N'', N'Coca-Cola', N'Elementary School Teacher', N'(867 708/4447', N'isotopian@sbcglobal.net', NULL, N'')
INSERT [dbo].[Voditeli] ([ID], [Фамилия], [Имя], [Отчество], [Серия_паспорта], [Номер_паспорта], [Адрес_регистрации], [Адрес_проживания], [Место_работы], [Должность], [Мобильный_телефон], [Email], [Фотография], [Замечания]) VALUES (3, N'Bray', N'Finnegan', N'Brighton', 3719, 717453, N'9648 Philmont Lane 83282', N'', N'Harley-Davidson Motor Company', N'Childcare worker', N'(221 428/7850', N'isaacson@att.net', NULL, N'')
GO
USE [master]
GO
